body{
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #d6e68a;
} 

#topo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

#topo .imagem{
    width: 50px;
    display: inline-block;
}

.imagem{
    margin-right: 30px;
    width: 100%;
    height: auto;
}



nav{
    background-color: #95aa61;
    text-align: center;
    padding: 10px 0;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover{
    color: #fff;
    text-decoration: underline;
    background-color: #7b3294;
    border-radius: 5px;
}

main{
    font-size: 22px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

ul{
    padding-left: 20px;
}

ul li{
    margin-bottom: 10px;
}

.img-hover{
    transition: transform 0.3s ease;
    width: 50%;
    height: 60%;
    border-radius: 5%;
}

.img-hover:hover{
    transform: scale(1.1);
}

a img{
    width: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

footer{
    display:grid;
    justify-content: center;
    background-color: #899752;
    margin: 0;
    padding: 0;
}


